*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
    
}
nav ul{
    display: flex;
    list-style: none;
    background: palegreen;
    padding-left: 200px;
}
nav ul li{
    margin: 0 15px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold (400px);
    color: black;
    
}
.search-form{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background: 15px 0 0 15px;
}
.search-btn{
    padding: 6px 10px;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #f4f4f4;
    color: rgb(42, 129, 132);
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(puk.jfif);
    background-size: cover;
    background-position: center-center;
    display: flex;
    align-items: center;
}
.profile{
    width: 400px;
    /* height: 250px; */
    margin-left: 100px;
}
.my-title{
    font-size: 20px;
    margin: 5px;
}
.my-description{
    font-size: 25px;
}
.my-profile{
    font-size: 36px;
    margin: 5px;
}
.banner-btn{
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: rgb(59, 134, 130);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px 0;
}